body {
  background: #000;
  color: #fff;
  padding: 32px;
}

canvas {
  border: #999 1px solid;
}

pre {
  word-break: break-all;
  line-break: anywhere;
  white-space: pre-wrap;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #fff;
}

#data {
  max-width: 68ch;
  height: calc(32ch + 8px);
  overflow-y: scroll;
  background-color: #444;
  border-radius: 8px;
  border: 4px solid #aaa;
  padding: 4px 8px;
  box-shadow: inset 0 0 10px #000000f0;
}
