body {
  font-family: Arial, sans-serif;
  background: #000;
  overflow: hidden;
}

canvas {
  background-color: #000;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  background-color: #fff;
}

pre {
  word-break: break-all;
  line-break: anywhere;
  white-space: pre-wrap;
}

select, button {
  padding: 4px 8px;
  background-color: #c0c0c0;
  border-width: 2px;
  border-color: #fff #808080 #808080 #fff;
  cursor: pointer;
  outline: #000 1px solid;
  border-radius: 2px;
}

select:focus, button:focus {
  outline-width: 2px;
}

#loadingBars {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

#ui {
  position: absolute;
  display: flex;
  align-items: stretch;
  inset: 32px 120px;
  background-color: #fff;
  overflow-y: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 0 12px #00000044;
  z-index: 1;
}

#debug {
  flex: 1;
  overflow-y: auto;
  background-color: #444;
  text-shadow: 1px 1px 0 #000;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  font-size: 20px;
}

#debug h3:first-of-type {
  margin-top: 0;
}

#debug:empty:after {
  content: "- waiting for tape... -";
  color: #888;
}
